.vesoftExplainGraph {
  display: flex;
  flex-direction: column;

  .gql {
    height: 46px;
    display: flex;
    flex-shrink: 0;
    align-items: center;
    gap: 10px;
    padding: 0 10px;
    border-bottom: 1px solid #e8e8e8;

    .copyButton {
      width: 30px;
      height: 30px;
      border-radius: 6px;
      background-color: #F4F4F5;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
    }
  }

  .graphWrapper {
    height: 100%;
    background: var(--bg-color2, rgba(131, 131, 131, 0.10));

    :global {
      .ve-editor-svg {
        top: 0;
      }

      .ve-node-shape:focus {
        outline: none;
      }

      .ve-line-label {
        text {
          fill: #0D8BFF;
        }
      }

      .active .ve-node-shape {
        filter: url(#ve-blue-shadow);

        rect {
          filter: url(#ve-blue-shadow);
        }
      }
    }

    foreignObject {
      position: relative;
    }

    .explainNode {
      border-radius: 10px;
      font-size: 8px;
      background-color: #fff;
      border-radius: 20px;

      .header {
        height: 46px;
        display: flex;
        align-items: center;
        padding: 0 20px;
        background-color: #576272;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        font-size: 16px;
        font-weight: 400;
        color: #fff;
      }

      .body {
        list-style: none;
        padding: 0;
        margin: 0;

        li {
          height: 36px;
          padding: 0 20px;
          align-items: center;
          line-height: 36px;
          border-bottom: 1px solid #D5DDEB;
          color: #000;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;

          .label {
            color: #8697B0;
            display: inline-block;
            width: 80px;
            flex-shrink: 0;
          }

          .ouputLabel {}

          .ouputVal {
            color: #0091FF;
            margin-right: 10px;
          }
        }

        li:last-child {
          border-bottom: none;
        }
      }

      .totalTime {
        display: flex;
        align-items: center;
        display: grid;
        grid-template-columns: 80px 1fr 2fr;
      }

      .progress {
        position: relative;
        height: 12px;
        // border-radius: 12px;
        // background-color: #E8E8E8;
        display: inline-block;
        overflow: hidden;

        >span {
          position: absolute;
          left: 0;
          // border-radius: 12px;
          height: 12px;

          @keyframes progressActive {
            0% {
              transform: translateX(-100%) scaleX(0);
              opacity: 0.1;
            }

            20% {
              transform: translateX(-100%) scaleX(0);
              opacity: 0.5;
            }

            to {
              transform: translateX(0) scaleX(1);
              opacity: 0.1;
            }
          }

          &::before {
            position: absolute;
            inset: 0;
            background-color: #ffffff;
            border-radius: 100px;
            opacity: 0;
            // animation-name: progressActive;
            animation-duration: 2.4s;
            animation-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
            animation-iteration-count: infinite;
            content: "";
          }
        }
      }
    }

    //Select, Loop,PassThrough, Start each has different color
    .explainNode[data-name=Start],
    .explainNode[data-name=PassThrough],
    .explainNode[data-name=Select] {
      .header {
        background-color: #78B7F2;
      }
    }

    .explainNode[data-name=Loop] {
      .header {
        background-color: #40C3AB;
      }
    }
  }

  .explainGraph {
    display: flex;
    flex: 1;
    position: relative;
  }

  .graphArea {
    position: relative;
    flex: 1;

    .buttonArea {
      position: absolute;
      display: flex;
      gap: 8px;
      bottom: 15px;
      right: 15px;

      >button {
        padding: 0;
        height: 38px;
        width: 38px;
        display: flex;
        align-items: center;
        justify-content: center;

      }
    }
  }

  .detailArea {
    transition: all 0.3s ease;
    height: 100%;
    border-left: 1px solid rgba(224, 224, 224, 1);
    background: #fff;
    overflow: hidden;
    overflow-y: auto;
    // position: absolute;
    right: 0;
    top: 0;

    .detailContent {}

    .detailTitle {
      border-bottom: 1px solid #E0E0E0;
      height: 49px;
      line-height: 49px;
      padding-left: 20px;
      font-family: Roboto;
      font-size: 18px;
      font-style: normal;
      font-weight: 700;
    }

    .detailPTitle {
      font-family: Roboto;
      color: #000;
      font-weight: 400;
      font-size: 18px;
      padding: 15px 20px;
    }

    .detailInfo {
      padding: 0 20px;
      display: grid;
      grid-template-columns: 120px auto;
      align-items: start;
      gap: 10px;

      .detailLabel {
        color: #000;
        font-size: 14px;
        font-weight: 200;
        text-overflow: ellipsis;
        overflow: hidden;
      }

      .detailValue {
        color: #8697B0;
        line-height: 150%;
        margin: 0;
        word-break: break-word;
        text-wrap: wrap;
        max-height: 120px;
        overflow-y: auto;
      }
    }
  }

  .rankArea {
    position: absolute;
    top: 20px;
    left: 20px;
    max-height: calc(100% - 40px);
    overflow: auto;

    &::-webkit-scrollbar {
      display: none;
    }

    .rankItem {
      span {
        width: 10px;
        height: 10px;
        display: inline-block;
        border-radius: 50%;
        margin-right: 5px;
      }

      padding:5px 10px;
      color:#64748B;
      font-size: 14px;
      border-radius: 15px;

      &:hover,
      &.active {
        background-color: #E7F3FF;
        cursor: pointer;
      }
    }
  }

}